[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[scripts]
test = "pytest"
coverage = "pytest --cov=src/ --no-cov-on-fail"
install-hooks = "pre-commit install --hook-type pre-commit --hook-type commit-msg"
