[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[scripts]
test = "pytest"
coverage = "pytest --cov=src --cov=github_actions"
coverage-html = "pytest --cov=src --cov=github_actions --cov-report=html"
coverage-xml = "pytest --cov=src --cov=github_actions --cov-report=xml"
install-hooks = "pre-commit install --hook-type pre-commit --hook-type commit-msg"
