on:
  push:
    branches: ['main']

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for PYPI release
      contents: write
      pull-requests: write

    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - name: tag major and minor versions
        if: ${{ steps.release.outputs.release_created }}
        run: |
          # setup github actions bot as author
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          # create and push major version tag
          git tag v${{ steps.release.outputs.major }}
          git push origin v${{ steps.release.outputs.major }} -f

      - name: Set up Python
        uses: actions/setup-python@v5
        if: ${{ steps.release.outputs.release_created }}
        with:
          python-version: '3.x'

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        if: ${{ steps.release.outputs.release_created }}
        run: python -m build

      - name: Publish package
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
